.quarter_sky {
    width: 50px; /* Đặt chiều rộng là 50% của màn hình */
    height: 50px; /* Đặt chiều cao là 50% của màn hình */
    position: absolute;
    top: 25%; /* Đặt vị trí top là 25% của màn hình */
    left: 25%; /* Đặt vị trí left là 25% của màn hình */
}
