// :root {
//     .swiper-pagination-fraction,
//     .swiper-pagination-custom,
//     .swiper-horizontal > .swiper-pagination-bullets,
//     .swiper-pagination-bullets.swiper-pagination-horizontal {
//         bottom: var(--swiper-pagination-bottom, 8px);
//         top: var(--swiper-pagination-top, auto);
//         left: 0;
//         width: 100%;
//         display: flex;
//         justify-content: end;
//     }
// }
.SliderWrapper {
    :global(.swiper-pagination-bullet) {
        float: right;
        background-color: rgba(0, 0, 0, 0.3);
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        opacity: 1;
        border: 2px solid rgba(255, 255, 255, 0.7);
        margin-right: 10px;
    }

    :global(.swiper-pagination-bullet-active) {
        float: right;
        background-color: #54e5f9;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        opacity: 1;
        border: 2px solid #fff;
    }
}
.slide_image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.image_available_room {
    max-width: 172px;
    max-height: 73px;
}
input[type='checkbox'],
input[type='radio'] {
    margin: 5px 10px 0px 0px;
    width: 23px;
    height: 18px;
}
