/* @MUI */
div.MuiDialog-root.MuiModal-root.css-zw3mfo-MuiModal-root-MuiDialog-root {
    z-index: 10000;
}
h2.MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    padding: 5px 24px;
    border-bottom: 1px solid #e5e5e5;
}
div.MuiDialogContent-root.css-ypiqx9-MuiDialogContent-root {
    padding: 20px 24px;
}
div.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    min-height: 0;
    max-height: 0.4375em;
}

a {
    cursor: pointer;
}



