/* @MUI */
body {
    overflow: auto !important;
    padding-right: 0 !important;
}
div.MuiDialog-root.MuiModal-root.css-zw3mfo-MuiModal-root-MuiDialog-root {
    z-index: 10000;
}
h2.MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    padding: 5px 24px;
    border-bottom: 1px solid #e5e5e5;
}
div.MuiDialogContent-root.css-ypiqx9-MuiDialogContent-root {
    padding: 20px 24px;
}
div.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    min-height: 0;
    max-height: 0.4375em;
}
label.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    z-index: 0 !important;
}

a {
    cursor: pointer;
}

//custom-select library
span.css-1u9des2-indicatorSeparator {
    width: 0 !important;
}

div.css-1n6sfyn-MenuList {
    max-height: 255px;
}

//tooltip-react
div.styles-module_dark__xNqje {
    background: #f8d390;
    color: #000;
}

//antd
span:where(.css-dev-only-do-not-override-2q8sxy).ant-input-affix-wrapper {
    font-size: 15px;
    color: hsl(0, 0%, 20%);
}

//chart
text.recharts-text.recharts-cartesian-axis-tick-value {
    font-size: 16px;
}

span.recharts-legend-item-text {
    font-size: 16px;
}

li.recharts-legend-item.legend-item-0 {
    display: none !important;
}
