.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    padding-top: 0;
    padding-bottom: 0;
}

li.waves_effect {
    font-size: 13px;
    display: block;
    line-height: 22px;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-out;
    background-color: transparent;

    a {
        color: #263238;
        text-decoration: none;
        display: flex;
    }
    &:hover {
        background-color: #eee;
    }
}

.button_delete {
    background: #167ee6;
    border: none;
    padding: 4px 10px;
    color: #fff;
    border-radius: 5px;
}

.button_cancel {
    background: #f0f2f0;
    border: none;
    padding: 4px 10px;
    color: #000;
    border-radius: 5px;
}
