.wrapper {
    display: none;
}
.wrapper.open {
    display: block;
    z-index: 10;
}
.delete_form {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 1000000;
}

.delete_form_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.delete_form_body {
    margin: auto;
    min-width: 332px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    font-size: 16px;
}

.datetime {
    margin: 20px;
}

.content {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.action {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 5px 20px;
}

.button_delete {
    background: #167ee6;
    border: none;
    padding: 4px 10px;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
}

.button_cancel {
    background: #f0f2f0;
    border: none;
    padding: 4px 10px;
    color: #000;
    border-radius: 5px;
    margin-left: 5px;
}
