.button_delete {
    background: #167ee6;
    border: none;
    padding: 4px 10px;
    color: #fff;
    border-radius: 5px;
}

.button_cancel {
    background: #f0f2f0;
    border: none;
    padding: 4px 10px;
    color: #000;
    border-radius: 5px;
}
